@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overscroll-behavior: none; /* 모바일 당겨서 새로고침 비활성화 */
}

.color-picker::-webkit-color-swatch {
    border: none; /* 안쪽 테두리 제거 */
}

.no-scrollbar {
    /* Hide scrollbar for Chrome, Edge, Safari */
    &::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
